# Series
## Data import

In [1]:
import pandas as pd

url = "https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip"

df = pd.read_csv(url, dtype_backend="pyarrow", engine="pyarrow")
city_mpg = df.city08

highway_mpg = df.highway08

In [2]:
# You can use the `+` operator to add two Series together.
print((city_mpg + highway_mpg)/2)

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: double[pyarrow]

In [3]:
# You can use the `quantile` method to get specific quantiles of a Series.
city_mpg.quantile([.1, .5, .9])

0.1    13.0
0.5    17.0
0.9    24.0
Name: city08, dtype: double[pyarrow]

In [4]:
city_mpg.gt(20).astype("int64[pyarrow]").mul(100).mean()

24.965973167412017

In [5]:
city_mpg.gt(20).sum()

10272

In [6]:
city_mpg.agg('mean')

18.369045304297103

In [3]:
make = df.make
make.value_counts()

make
Chevrolet                           4003
Ford                                3371
Dodge                               2583
GMC                                 2494
Toyota                              2071
                                    ...
Grumman Allied Industries              1
Environmental Rsch and Devp Corp       1
General Motors                         1
Goldacre                               1
Isis Imports Ltd                       1
Name: count, Length: 136, dtype: int64[pyarrow]